name: Build & Test (Python)

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory for the Python app"
        required: true
        type: string
      app-name:
        description: "Friendly name for the app"
        required: true
        type: string

jobs:
  test:
    name: Test - ${{ inputs.app-name }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Project
        uses: ./.github/actions/setup-python
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: Run Tests
        run: just test

      - name: Upload Coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ inputs.working-directory }}/**/coverage.xml
          fail_ci_if_error: true
          flags: ${{ inputs.app-name }}
