name: CI - Python

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory for the Python app"
        required: true
        type: string
      app-name:
        description: "Friendly name for the app"
        required: true
        type: string

permissions:
  contents: read
  packages: read
  security-events: write

jobs:
  quality:
    name: Quality Checks
    uses: ./.github/workflows/__quality-python.yml
    with:
      working-directory: ${{ inputs.working-directory }}
      app-name: ${{ inputs.app-name }}
    secrets: inherit

  build-test:
    name: Build & Test - ${{ inputs.app-name }}
    uses: ./.github/workflows/__build-test-python.yml
    with:
      working-directory: ${{ inputs.working-directory }}
      app-name: ${{ inputs.app-name }}
    secrets: inherit
